apipkg==1.5
appnope==0.1.0
atomicwrites==1.2.1
attrs==18.2.0
backcall==0.1.0
bleach==3.0.2
certifi==2018.11.29
chardet==3.0.4
citeproc-py==0.4.0
Click==7.0
configparser==3.5.0
decorator==4.3.0
defusedxml==0.5.0
docopt==0.6.2
duecredit==0.6.4
entrypoints==0.3
execnet==1.5.0
funcsigs==1.0.2
future==0.17.1
grabbit==0.2.5
idna==2.8
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isodate==0.6.0
jedi==0.13.2
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
lxml==4.3.0
MarkupSafe==1.1.0
mistune==0.8.4
mock==2.0.0
more-itertools==5.0.0
nbconvert==5.4.0
nbformat==4.4.0
networkx==2.2
neurdflib==5.0.0.post1
nibabel==2.3.2
nilearn==0.5.0
nipype==1.1.7
notebook==5.7.4
num2words==0.5.8
numpy==1.15.4
packaging==18.0
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
patsy==0.5.1
pbr==5.1.1
pexpect==4.6.0
pickleshare==0.7.5
pluggy==0.8.0
prometheus-client==0.5.0
prompt-toolkit==2.0.7
prov==1.5.3
ptyprocess==0.6.0
py==1.7.0
pybids==0.6.5
pydot==1.4.1
pydotplus==2.0.2
Pygments==2.3.1
pyparsing==2.3.0
pytest==4.1.0
pytest-forked==0.2
pytest-xdist==1.25.0
python-dateutil==2.7.5
pytz==2018.9
pyzmq==17.1.2
qtconsole==4.4.3
rdflib==4.2.2
requests==2.21.0
scikit-learn==0.20.2
scipy==1.2.0
Send2Trash==1.5.0
simplejson==3.16.0
six==1.12.0
sklearn==0.0
terminado==0.8.1
testpath==0.4.2
tornado==5.1.1
traitlets==4.3.2
traits==4.6.0
urllib3==1.24.1
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.2
